AuthType Basic
AuthName "One does not simply"
AuthUserFile /var/www/vhosts/hosting100680.af9a4.netcup.net/.htpasswd
Require valid-user

Deny From All

<Files ~ "^(index\.html|)$">
    Allow From All
</Files>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.html [L]
</IfModule>