.c-Intro {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(#000, 0.8);
    overflow: auto;

    &-leave-active,
    &-enter-active {
        transition: opacity 1s ease;
    }

    &-leave-to,
    &-enter {
        opacity: 0;
    }

    &__content {
        padding: 4em 1em;
        width: 100%;
        max-width: 40rem;
        margin: 0 auto;
    }

    &__greeting {
        font-size: 7em;
        line-height: 0.8;
    }

    &__blockquote {
        background: rgba(color('white'), 0.1);
        padding: 1em;
        border-left: 4px solid color('white');
        font-style: italic;
        @include fluid-type(18px, 24px);
    }
}