.c-Place {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    &-enter-active {
        transition: opacity 1s ease 1s;
    }

    &-leave-active {
        transition: opacity 1s ease 0s;
    }

    &-enter,
    &-leave-to {
        opacity: 0;
    }
}

.c-Place__hero {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
    text-align: center;
    text-transform: uppercase;
}

.c-Place__title {
    $breakpoint: 44em;

    // @include ms-respond('font-size', 3);
    font-weight: 800;
    position: absolute;
    top: 47%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);

    & > span {
        &:after, &:before {
            content: "";
            display: block;
            width: 2em;
            height: 2px;
            background: color('white');
            margin: 0 auto;

            @media (min-width: $breakpoint){
                display: inline-block;
                vertical-align: 0.3em;
                margin: 0;
            }
        }
        &:after {
            margin-top: 1rem;

            @media (min-width: $breakpoint){
                margin-left: 0.5em;
                margin-top: 0;

                .c-Place-enter-active & {
                    transition: transform 1s ease 1s;
                }

                .c-Place-enter & {
                    transform: translate(4em);
                }
            }
        }
        &:before {
            margin-bottom: 1rem;

            @media (min-width: $breakpoint){
                margin-right: 0.5em;
                margin-bottom: 0;

                .c-Place-enter-active & {
                    transition: transform 1s ease 1s;
                }

                .c-Place-enter & {
                    transform: translate(-4em);
                }
            }
        }
    }
}

.c-Place__country {
    // @include ms-respond('font-size', 8);
    font-size: 10rem;
    letter-spacing: 0.3em;
    text-indent: 0.3em;
    white-space: nowrap;
    color: #174DBE;
    line-height: 1;

    .c-Place-enter-active & {
        transition: opacity 1s ease 2s;
    }

    .c-Place-enter & {
        opacity: 0;
    }
}

.c-Place__close {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 48px;
    width: 48px;

    & .circle {
        transform: rotate(-90deg);
        transform-origin: center;
        opacity: 0;
        fill: none;
        stroke: color('white');
        stroke-width: 2;
        stroke-dasharray: (2 * 3.1415926 * 23);
        stroke-dashoffset: (2 * 3.1415926 * 23);
        stroke-linecap: round;

        transition: all 0.3s ease;
    }
    &:hover .circle {
        opacity: 1;
        stroke-dashoffset: 0;
    }
}

.c-Place__opener {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    text-align: center;

    & .link {
        text-decoration: none;
        display: inline-block;
        border-bottom: 2px solid color('white');
        padding: 0 3em 0.3em;
    }
}