.c-Scene {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: radial-gradient(
        #1f9ce3, /* innen */
        #1219a6 /* außen */
    );

    cursor: move;
    cursor: grab;
    &.-grabbing {
        cursor: grabbing;
    }

    &.-focus {

    }
}