.c-Intro {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(color('dark'), 0.5);
    overflow: auto;
    display: flex;
    align-items: center;

    &-leave-active,
    &-enter-active {
        transition: opacity 1s ease;
    }

    &-leave-to,
    &-enter {
        opacity: 0;
    }

    &__content {
        padding: 10px;
        width: 100%;
        max-width: 45rem;
        margin: 0 auto;
        text-align: center;
    }

    &__checkbox {
        font-size: 14px;
        margin-bottom: 0.5rem;
    }

    &__blockquote {
        background: rgba(color('white'), 0.1);
        padding: 20px;
        margin-bottom: 50px;
    }

    &__quote {
        @include ms-respond('font-size', 3);
    }
}