.c-Gallery {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 20px solid color('white');
}

.c-Gallery__slider {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.c-Gallery__img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}