*,
*:before,
*:after {
	padding: 0;
	border: 0;
	margin: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	color: inherit;
	box-sizing: border-box;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
	background: transparent;
}
