:root {
    /* Color Primary */
    --color-primary-9: hsl(204, 96%, 27%);
    --color-primary-8: hsl(203, 87%, 34%);
    --color-primary-7: hsl(202, 83%, 41%);
    --color-primary-6: hsl(201, 79%, 46%);
    --color-primary-5: hsl(199, 84%, 55%);
    --color-primary-4: hsl(197, 92%, 61%);
    --color-primary-3: hsl(196, 94%, 67%);
    --color-primary-2: hsl(195, 97%, 75%);
    --color-primary-1: hsl(195, 100%, 85%);
    --color-primary-0: hsl(195, 100%, 95%);

    /* Color Neutral */
    --color-neutral-9: hsl(209, 61%, 16%);
    --color-neutral-8: hsl(211, 39%, 23%);
    --color-neutral-7: hsl(209, 34%, 30%);
    --color-neutral-6: hsl(209, 28%, 39%);
    --color-neutral-5: hsl(210, 22%, 49%);
    --color-neutral-4: hsl(209, 23%, 60%);
    --color-neutral-3: hsl(211, 27%, 70%);
    --color-neutral-2: hsl(210, 31%, 80%);
    --color-neutral-1: hsl(212, 33%, 89%);
    --color-neutral-0: hsl(210, 36%, 96%);

    /* Color White */
    --color-white: hsl(0, 0%, 100%);
}
