@import 'common/vars';
@import 'common/functions';

@mixin z-index($element){
    z-index: index($--elements, $element);
}

@mixin breakpoint($point, $mode: 'min'){
    @if( $mode == 'min' ){
        @if( map-has-key($--breakpoints, $point) ){
            $value: map-get($--breakpoints, $point);
            @media (min-width: #{$value}){
                @content;
            }
        }
        @else {
            @error "'#{$point}' is not a key of $--breakpoints";
        }
    }
    @else if( $mode: 'max' ){
        @if( map-has-key($--breakpoints, $point) ){
            $value: map-get($--breakpoints, $point);
            @media (max-width: #{$value - 1}){
                @content;
            }
        }
        @else {
            @error "'#{$point}' is not a key of $--breakpoints";
        }
    }
    @else {
        @error "Unknown mode: '#{$mode}'. It must be 'min' or 'max'";
    }
}

@mixin interpolate($properties, $min-screen, $max-screen, $min-value, $max-value) {
	& {
		@each $property in $properties {
			#{$property}: $min-value;
		}

		@media screen and (min-width: $min-screen) {
			@each $property in $properties {
				#{$property}: calc-interpolation($min-screen, $min-value, $max-screen, $max-value);
			}
		}

		@media screen and (min-width: $max-screen) {
			@each $property in $properties {
				#{$property}: $max-value;
			}
		}
	}
}